* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: black;
  color: white;
  height: 100%;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  min-height: 350px;
  min-width: 450px;
}

.cell {
  padding: auto;
}

.water {
  background-color: blue;
}

.grass {
  background-color: green;
}

.road {
  background-color: rgb(104, 34, 34);
}

.left,
.right,
.front,
.back {
  background-position: center;
  background-size: cover;
}

.left {
  background-image: url(pokemon/ash_left.png);
}
.right {
  background-image: url(pokemon/ash_right.png);
}
.front {
  background-image: url(pokemon/ash_front.png);
}
.back {
  background-image: url(pokemon/ash_back.png);
}

.battle-modal {
  position: absolute;
  width: 75%;
  height: 75%;
  background-color: grey;
  top: 12.5%;
  left: 12.5%;
  display: grid;
  grid-template-rows: 55% 35% 10%;
  border: black solid 3px;
  border-radius: 10px;
}

.battle-modal section {
  /* border: solid blue 1px; */
}

.battle-nav {
  list-style: none;
  color: black;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 5px;
}

.battle-nav li:hover {
  opacity: 0.5;
  cursor: pointer;
}

.user-info {
  color: black;
}
.user-info div {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.battle-top-section {
  display: flex;
  flex-grow: 1;
}

.battle-img {
  position: relative;
  display: flex;
  flex-grow: 1;
  margin: 0.5rem 0rem;
}

img {
  height: 50px;
  width: 50px;
}

#user-img {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50%;
  width: 60%;
}

#enemy-img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50%;
  width: 60%;
}

.battle-middle-section {
  color: black;
  display: grid;
  grid-template-columns: 30% 70%;
}

.moves {
  list-style: none;
}

.moves li {
  margin-left: 1rem;
  margin-top: 0.15rem;
}

.moves header {
  margin-left: 1rem;
  text-decoration: underline;
}

.moves li:hover {
  opacity: 0.5;
  cursor: pointer;
}

.narration-box {
  border: black 1px solid;
  margin: 1rem;
  text-align: center;
}

.narration-box p {
  position: relative;
  top: 30%;
}
