* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: black;
  display: grid;
  place-items: center;
}

img,
svg {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}

/* General project styling */

.hidden {
  display: none;
}

/* Map layout and colors */

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  height: 450px;
  width: 550px;
}

.water {
  background-color: blue;
}

.grass {
  background-color: green;
}

.road {
  background-color: rgb(104, 34, 34);
}

/* Moving character */

.left,
.right,
.front,
.back {
  background-position: center;
  background-size: cover;
}

.left {
  background-image: url(pokemon/ash_left.png);
}
.right {
  background-image: url(pokemon/ash_right.png);
}
.front {
  background-image: url(pokemon/ash_front.png);
}
.back {
  background-image: url(pokemon/ash_back.png);
}

/* Modal screens */

.pop-up-game-screens {
  position: absolute;
  inset: 12.5%;
}

/* battle modal */
.battle-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: grey;
  display: grid;
  grid-template-rows: 45% 40% 15%;
}

/* top section battle */

.battle-top-section {
  /* border: 3px solid orange; */
  display: flex;
}

.user-info {
  border: 10px solid transparent;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info-text {
  /* border: 3px solid green; */
  display: flex;
  gap: 5px;
}

.battle-img-section {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.battle-img {
  /* border: 2px solid purple; */
  width: 93%;
}

#user-img {
  grid-row: 2;
  position: relative;
  bottom: 8px;
}

#enemy-img {
  grid-column: 2;
  position: relative;
  top: 10px;
  left: 5px;
}

/* middle section battle */

.battle-middle-section {
  /* border: 3px solid red; */
  /* height: 40%; */
  color: black;
  display: grid;
  grid-template-columns: 30% 70%;
}

.moves {
  list-style: none;
}

.moves li {
  margin-left: 1rem;
  margin-top: 0.15rem;
}

.moves header {
  margin-left: 1rem;
  text-decoration: underline;
}

.moves li:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* narration box */

.narration-box {
  border: black 1px solid;
  margin: 1rem;
  text-align: center;
}

.narration-box p {
  position: relative;
  top: 30%;
}

/* battle bottom nav section */

.battle-bottom-section {
  /* border: 3px solid white; */
}

.battle-bottom-section nav {
  height: 100%;
}

.battle-bottom-nav-options {
  /* border: 2px solid purple; */
  height: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.battle-bottom-nav-options li:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* mini modal */

.mini-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: grey;
  border-radius: 10px;
  color: black;
  text-align: center;
}

.mini-modal li {
  margin-top: 1rem;
  list-style: none;
}

.mini-modal footer {
  position: absolute;
  bottom: 0.5rem;
  left: 48%;
}

.mini-modal li:hover {
  opacity: 0.5;
  cursor: pointer;
}
.mini-modal footer:hover {
  opacity: 0.5;
  cursor: pointer;
}
.mini-modal header {
  text-decoration: underline;
  margin: 1rem 0rem;
}
