* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: black;
  color: white;
  height: 100%;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}

.cell {
  padding: auto;
}

.water {
  background-color: blue;
}

.grass {
  background-color: green;
}

.road {
  background-color: rgb(104, 34, 34);
}

.left,
.right,
.front,
.back {
  background-position: center;
  background-size: cover;
}

.left {
  background-image: url(pokemon/ash_left.png);
}
.right {
  background-image: url(pokemon/ash_right.png);
}
.front {
  background-image: url(pokemon/ash_front.png);
}
.back {
  background-image: url(pokemon/ash_back.png);
}
